.form{
    position:relative;
    width:500px;
    height: 2400px;
    padding-left: 20px;
    padding-top:15px;
    background-color: #8AD5A7;
    border-radius:20px;
    margin:auto;
    margin-top: 10px;
    color: #093F38;
    opacity:0.9;
}


.resultados{
  position:relative;
  width:800px;
  height: 300px;
  padding-left: 20px;
  padding-top:15px;
  background-color: #8AD5A7;
  border-radius:20px;
  margin:auto;
  margin-top: 150px;
  color: #093F38;
  opacity:0.9;
  font: 25px normal normal uppercase helvitica, arial, serif;

}

 #regresar{
  margin-top:50px;
  width: 280px;
  height: 40px;
  margin-left:500px;
  font-size: 18px;
}

input[type=text]{
  border-radius: 20px;
  width: 150px;
  height: 25px;
  padding-left: 20px;
}

input[type=email]{
  border-radius: 20px;
  width: 150px;
  height: 25px;
  padding-left: 20px;
}

select{
  border-radius: 20px;
  width: 200px;
  height: 30px;
  padding-left: 20px;
}



body {
   background-image: url("../img/fondo2.png");

}

#Encabezado h3{
  margin-top: 25px;
  margin-left: 40px;
  margin-right: 50px;
}

#Encabezado{
  background-color: #A7C6C2;
  border-radius:20px;
  width:900px;
  height: 110px;
  padding-left: 20px;
  padding-top:15px;
  margin:auto;
  font: 16px normal normal uppercase helvitica, arial, serif;
  color: #116156;
  text-shadow: 0 1px 0 #fff;
  opacity:0.9;
}

h4{
  font: 20px normal normal uppercase helvitica, arial, serif;
  color: #07332D;
}

#edad{
  width:50px;
  border-radius:10px;
  padding-left: 20px;
}
input[type=submit]{
    position:relative;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 150px;
    border: 0px;
    background-color:#32A43E;
    font: 14px normal normal uppercase helvitica, arial, serif;
    color: white;
    margin-top: 50px;
    cursor:pointer;
}

input[type=reset]{
    position:relative;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 150px;
    border: 0px;
    background-color:red;
    font: 14px normal normal uppercase helvitica, arial, serif;
    color: white;
    cursor:pointer;
}

form div{
  width: 200px;
  position:relative;
  margin-left: 150px;
  font: 18px normal normal uppercase helvitica, arial, serif;
}
